@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .hidden-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none!important; /* IE, Edge 対応 */
    scrollbar-width: none!important; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none!important;
  }
  .scrollbar-y {
    overflow-y: scroll;
  }

  .scrollbar-y::-webkit-scrollbar {
    width:0.4vw;
    min-width: 5px; 
    /* width: 10px; */
  }

  .scrollbar-y::-webkit-scrollbar-track {
    background-color: white;
  }

  .scrollbar-y::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 4px;
    cursor: pointer;
  }

  .scrollbar-y::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }

  .scrollbar-y::-webkit-scrollbar-button {
    display: none;
  }
}

@layer base {
  
}
